global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: '{{ hostvars['exporter-01'].ansible_host }}'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ hostvars['exporter-01'].ansible_host }}:9100']